<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Allure Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <!-- Your test classes and test methods go here -->
    <test name="Test Selenium">
        <classes>
            <class name="TablePageTest" />
        </classes>
    </test>
</suite>
